{% extends 'base.html' %}

{% block title %}Home|Portfolio{% endblock %}

{% block content %}
<h1>Im the Portfolio.</h1>
{% load static %}

<!-- <a href="{% static 'portifolio/my_archive.pdf' %}">Resume</a>  se vc quiser um pdf no site-->

<img src="{% static 'portifolio/ney.webp' %}" style="width: 400px; height: 400px;">
<a href="{% url 'blog:index' %}">Blogs</a>
{% for i in projects %}
    <h2>{{ i.title }}</h2>
    <p>{{ i.description }}</p>
    <img src="{{ i.image.url }}" height="300px" width="300px">
    {% if i.url %}
        <br><a href="{{ i.url }}">Link</a>
    {% endif %}
    <br>
{% endfor %}
{% endblock %}